{
  "extends": "google",
  "rules": {
    "padded-blocks": 0,
    "max-len": ["warn", 120],
    "require-jsdoc": 0,
    "camelcase": ["error", {"properties": "never"}],
    "default-case": 0,
    "no-use-before-define": 0
  }
}
